include version.txt 
include requirements.txt
recursive-include vbench/third_party *.yaml
recursive-include vbench *.json
recursive-include vbench *.txt
recursive-include vbench2_beta_long/configs *.yaml
recursive-include competitions/configs *.yaml
